parameters:
	ignoreErrors:
		-
			message: "#^Method Orchestra\\\\Workbench\\\\BuildParser\\:\\:make\\(\\) should return Illuminate\\\\Support\\\\Collection\\<string, array\\<string, mixed\\>\\> but returns Illuminate\\\\Support\\\\Collection\\<string, array\\<int\\|string, mixed\\>\\>\\.$#"
			count: 1
			path: src/BuildParser.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: src/Console/stubs/routes/console.php
