includes:
  - phpstan-baseline.neon

parameters:
  paths:
    - src

  # The level 8 is the highest level
  level: 8

  ignoreErrors:
    - identifier: missingType.iterableValue
    # - '#Unsafe usage of new static#'

  excludePaths:
    - src/Http/Controllers/Auth/*.php
    - src/Http/Controllers/ProfileController.php
    - src/Http/Requests/Auth/*.php
    - src/Http/Requests/ProfileUpdateRequest.php
    - src/View/Components/AppLayout.php
    - src/View/Components/GuestLayout.php

  treatPhpDocTypesAsCertain: false
