<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertDeprecationsToExceptions="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
            <file>vendor/orchestra/testbench-core/src/Workbench/Workbench.php</file>
        </include>
        <exclude>
            <directory>src/Console/stubs/</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Testbench Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <server name="DB_CONNECTION" value="testing"/>
        <server name="SEND_DEPRECATED_NOTICES_TO_RAY" value="(true)"/>
    </php>
</phpunit>
